.Location {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3%;
  font-size: 1.2rem;
  cursor: pointer;
}
.Location img {
  width: 80px;
}
.ColorText {
  color: #d17b24;
}
