.ReservationMessage {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Error {
  color: rgb(199, 0, 0);
}
.ReservationMessage h1 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
}
.ReservationMessage p {
  font-size: 1.2rem;
}
.Btn {
  margin-top: 1rem;
  display: inline-block;
  cursor: pointer;
  border: none;
  background: var(--primary-color);
  border-radius: 10px;
  color: var(--light-color);
  padding: 0.75rem 2rem;
  text-align: center;
  font-size: 1.1rem;
  transition: all 0.2s ease-in-out;
  color: #fff;
}
.Btn:hover {
  background: #97510b;
}
