.FAQs {
  padding: 20px;
  background: var(--light-color);
  color: #333;
}

.MoreQuestions {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 2rem;
}
.Answer a:hover {
  color: #b16416;
}
@media screen and (max-width: 768px) {
  .FAQs h2 {
    text-align: center;
  }
}
