.Social {
  background: #212121;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px #555 dotted;
}

.Social i {
  margin: 20px 40px;
  color: #f7f7f7;
  transition: all 0.3s ease;
}
