.NavRight {
  display: flex;
  align-items: center;
}
.NavRight ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.NavRight a.Btn {
  display: inline-block;
  cursor: pointer;
  border: none;
  background: var(--primary-color);
  border-radius: 10px;
  color: var(--light-color);
  padding: 0.75rem 2rem;
  text-align: center;
  font-size: 1.1rem;
  transition: all 0.2s ease-in-out;
}
.NavRight a.Btn:hover {
  background: #97510b;
}
@media screen and (max-width: 768px) {
  .NavRight {
    flex-direction: column;
  }
  .NavRight ul {
    /* display: block; */
    justify-content: space-around;
    text-align: center;
    width: 100%;
    margin-bottom: 0.25rem;
  }
  .NavRight a.Btn {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    text-align: center;
  }
}
