.NavigationItem a {
  padding: 0.75rem 1.25rem;
  margin: 0 0.25rem;
  font-size: 0.95rem;
  transition: all 0.2s ease-in-out;
}

.NavigationItem a:hover,
.NavigationItem a:active {
  background: var(--primary-color);
  color: var(--light-color);
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .NavigationItem a {
    display: block;
    padding: 0.3rem 0;
    margin-bottom: 5px;
    text-align: center;
  }
}
