.AboutInfo {
  background: var(--light-color);
  color: #333;
}
.InfoContent {
  display: flex;
  padding-bottom: 2rem;
}

.InfoLeft {
  flex: 4;
  text-align: left;
  align-self: center;
}
.InfoRight {
  flex: 3;
  align-self: center;
}

.InfoRight video {
  width: 93.61%;
  display: block;
  margin: auto;
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  .InfoContent {
    display: block;
  }

  .InfoRight video {
    padding: 20px 0;
  }
}
